<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">    
</head>
<body>
    <h1>게시판</h1>
    <button onclick="location.href='/write'">글 작성</button>
    <table>
        <thead>
            <tr>고유번호</tr>
            <tr>작성자</tr>
            <tr>제목</tr>
            <tr>작성일자</tr>            
        </thead>
        <tbody>
            <% for(var i=0; i<posts.length; i++){ %>
                <tr>
                    <td onclick='location.href="/post?글번호=<%= posts[i].고유번호 %>"'>
                        <%= posts[i].고유번호 %>
                        <%= posts[i].작성자 %>
                        <%= posts[i].제목 %>
                        <%= posts[i].작성일자 %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <script src="get.js"></script>
</body>
</html>