<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>고유번호</td>
                <td>작성자</td>
                <td>제목</td>
                <td>작성일자</td>        
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= post[0].고유번호 %></td>
                <td><%= post[0].작성자 %></td>
                <td><%= post[0].제목 %></td>
                <td><%= post[0].작성일자 %></td>                
            </tr>
            <tr>
                <td>
                    내용
                </td>
            </tr>  
            <tr>
                <td>
                    <%= post[0].내용 %>
                </td>
            </tr> 
            <td>
                <button onclick="location.href='/'">돌아가기</button>
                <button onclick="deletePost()">게시글 삭제</button>
            </td>    
        </tbody>
    </table>
    댓글작성
    <form action="/commenting" method="post">
        작성자 <input type="text" name="작성자"><br>
        비밀번호 <input type="text" name="비밀번호"><br>
        내용 <input type="text" name="내용"><br>
        <input type="text" name="게시글고유번호" value="<%= post[0].고유번호 %>" style="display: none;">
        <input type="submit" value="작성완료">
    </form>
    댓글목록
    <table>
        <thead>
            <tr>
                <td>작성자</td>
                <td>제목</td>
                <td>작성일자</td>
                <td>내용</td>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<comments.length; i++){ %>
                <tr>
                    <td><%= comments[i].작성자 %></td>
                    <td><%= comments[i].제목 %></td>
                    <td><%= comments[i].작성일자 %></td>
                    <td><%= comments[i].내용 %></td>                    
                </tr>
                <tr>
                    <td>
                        <button onclick="deleteComment(<%= comments[i].고유번호 %>)">댓글 삭제</button>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <script src="delete.js"></script>
</body>
</html>